$width:300px
$widthButton:200px
$height:30px
$heightButton:50px
.login
  height: 90vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  input,button
    width: $width
    height: $height
    font-size: large
    text-transform: capitalize
    margin: 10px 0
  button
    width: $widthButton
    height: $heightButton
  label
    text-transform: capitalize
    width: $width
    text-align: left
